* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nossos produtos */

.nossos_produtos {
    display: flex;
}

ol, li {
    padding-left: 15px;
}


.box_produto {
    width: 400px;
    height: 400px;
    display: inline-block;
}

/* Nossas lojas */

.loja {
    display: flex;
    width: 100%;
}

.lojas {
    margin-left: 100px;
    display: block;
    width: 40%;
}

/* Rodape - Texto */

#formas_pagamento {
    color:red;
}

/* Categoria produto */

.categoria {
    display: flex;
}

.categorias {
    display: inline;
    width: 88%;
    text-align: center;
}


.categorias1{
    display: block;
    width: 12%;
    margin-left: 5px;
}

.categorias2 {
    margin-left: 10px;
}

.preco {
    font-size: 22px;
    color: red;
}

/* MENU PRINCIPAL */

.menu {
    display: flex;
    align-items: center;
    background-color: #ff0000;
    width: 100%;
    height: 90px;
}

.menu_produtos {
    display: flex;
    align-items: center;
    background-color: #ff0000;
    width: 100%;
    height: 90px;
}

.submenu {
    display: block;
    width: 25%;
    text-align: center;
}

.msn_entrada {
    display: block;
    margin-left: 20px;

}


/* RODAPE */

.rodape {
    display: block;
    flex-direction: column;
    text-align: center;   
}

/* Fale conosco */

.contatos {
    display: flex;
}

/* Fale conosco - email */

.contato {
    width: 50%;
}

.contato img {
    margin-top: 35px;
    margin-left: 50%;
    width: 170px;
    height: 120px;
}

.contato p {
    margin-top: 25px;
    margin-left: 49%;

}

/* Fale conosco - telefone */

.telefone {
    width: 50%;
}

.telefone img {
    margin-top: 10px;
    margin-left: 25%;
    width: 170px;
    height: 170px;
}

.telefone p {
    margin-left: 28%;
}

/* Fale conosco - Form */

.sugestao {
    display: flex;
}

.comentarios {
    margin-left: 40%;
}

.comentarios textarea {
    height: 100px;
}